<!-- wp:template-part {"slug": "header", "tagName": "header", "className": "site-header"} /-->

<main class="wp-block-group">
    <!-- wp:query -->
    <div class="wp-block-query">
        <!-- wp:post-template {"className": "mvh-post-wrapper"} -->

        <div class="mvh-post-wrapper">
            <!-- wp:post-title /-->
            <!-- wp:post-author /-->
        </div>

        <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
</main>

<!-- wp:template-part {"slug": "footer", "tagName": "footer", "className": "site-footer"} /-->